.personal--details {
    padding: 20px;
}

.personal--detail--title {
    font-size: 24px;
    padding-bottom: 10px;
}

.personal--details--form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}