.work--experience {
    padding: 20px;
}

.work--experience--title {
    font-size: 24px;
    padding-bottom: 10px;
}


.work--experience--form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}